@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;

}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding-bottom: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('biurkobg.jpg');
  background-size: cover;
  background-position: 80% 10%;
}

header section {
  margin: 0 auto;
  max-width: 635px;
  text-align: justify;
}

h1 {
  margin: 4.5em 0 1em 0;
  text-transform: uppercase;
  color: #41807B;
  line-height: 1.2;
}

.contact {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #f1f1f2;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  color: #B4CACB;
  overflow: hidden;
  position: relative;
}

.btn i{
  line-height: 50px;
  font-size: 2rem;
  transition: .2s linear;
}


.btn:hover i{
  transform: scale(1.15);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #41807B; 
  transform: rotate(45deg);
  top: 90%;
  left: -110%;
}

.btn:hover::before {
  animation: ani 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes ani {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #41807B;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  font-weight: bold;
  text-transform: uppercase;
  color: #509e98;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .description {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .description p {
  padding-left: 2em;
  margin-top: 0;
}

.skills h4, .languages h4, .row h4 {
  color: #509e98;
  margin: 0;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

ul {
  margin: 0;  
  padding: 0 1em;  
  list-style: none;  
}

.skills ul li:before { 
  display:    inline-block;   
  border-top:   solid transparent;
  border-bottom:  solid transparent;
  border-left: solid #509e98; 
  border-width: 6px;
  content: ' ';
  margin-right: 5px;
}

.languages img {
  height: 1em;
  margin-right: 10px;
}

.languages li {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align:center;
}

.row {
  max-width: 70em;
  margin: 0 auto;
  overflow: auto;
}

.col-1-of-3 {
  width: 30%;
  float: left;
  text-align: center;
}

.col-1-of-3:not(:last-child) {
  margin-right: 5%;
}

.col-1-of-3 img {
  width: 100%;
  margin-top: 5px;
  transition: scale .2s;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
}

.col-1-of-3 img:hover {
  transform: scale(1.1);
}

.school, .company {
  margin-top: 20px; 
}

.year {
  color: #A7B8BF;
  padding-right: 20px;
  font-weight: normal;
  display: inline-block;
  float: left;
}

.school .year {
  min-width: 100px;
}

.name {
  font-weight: bold;
}

.school ul {
  margin-left: 120px;
  padding: 0;
}

.company .year {
  min-width: 200px;
}

.company .details {
  margin-left: 220px;
}

footer {
 padding: 1em;
 text-align: right;
 background-color: #A7B8BF;
}

footer a:hover {
  color: #41807B;
  font-weight: bold;
}

footer a:visited   {
  color: #31625E;
}

@media only screen and (min-width: 1300px) {
  h1 {
    padding-top: 45px;
  }
}

@media only screen and (min-width: 1550px) {
  h1 {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 1680px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
  h1 {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .col-1-of-3 {
    width: 100%;
    margin-right: none;
  }

  .col-1-of-3:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .course {
    display: block;
  }

  .course .title, .course .description {
    max-width: 100%;
  }

  
}

@media only screen and (max-width: 660px) {
  .school .year {
    float: none;
  }

  .school ul {
    margin: 0;
  }
}

@media only screen and (max-width: 667px) {
  .year {
    float: none;
  }

  .school ul, .company .details {
    margin: 0;
  }
}

@media only screen and (max-width: 570px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 570px) {
  .languages img {
    
  }
}


